.btn-page{
  border-radius:8px;
  background-color:#D2D2D2;
  border: 0;
  height:50px;
  fill:#656E6E;
}
.btn-page:hover {
  background-color:#656E6E;
  fill:#D2D2D2;
}
header{
  border-radius:8px;
  padding:50px;

}


