.btn-page{
  border-radius:8px;
  background-color:#D2D2D2;
  border: 0;
  height:50px;
  fill:#656E6E;

}
.btn-page:hover {
  background-color:#656E6E;
  fill:#D2D2D2;
}

header{
  border-radius:8px;
  padding:50px;

}
.search{
  color: #656E6E;
  padding: 11px;
  width:270px;
  border: none;
  background: none;
  padding-right: 50px;
}
.search:hover{
 color:#D2D2D2;

}
.btn-page:hover #search{
  color: #D2D2D2;
}
.search:hover::placeholder{
  color: #D2D2D2;
}
.btn-page:hover #search::placeholder{
  color: #D2D2D2;
}
.op{
  position: absolute;
margin-left: -50px;
}


