<section class="">
  <div class="Clother bg-light mt-2">
<div class="baner" ></div>
  </div>
  <div class=" d-flex justify-content-between mt-2 ">
    <h1 class="  text-light">Clohtes</h1>
  </div>
  <hr size="6" >

  <app-lookbook></app-lookbook>
  <button class="btn border-0 rounded mx-auto d-block bg-light" > Add clahtes </button>
  <div class="d-flex justify-content-between mt-2 ">
    <h1 class="  text-light">Wardrobe</h1>
  </div>
  <hr size="6" >

  <app-lookbook></app-lookbook>
  <button class="btn border-0 rounded mx-auto d-block bg-light"> MORE </button>

</section>
