<section class="">
  <div class="Create bg-light mt-2" style="height: 200px ;border-radius:8px;"></div>

  <div *ngIf="clothesList.length !== 0">  
    <div class="d-flex justify-content-between mt-2 " style="height: 40px;">
      <h1 class="  text-light">Clothes</h1>
    </div>
    <hr size="6" >
    
    <app-lookbook [clothesList]="clothesList"></app-lookbook>
    <button class="border-0 rounded mx-auto d-block bg-light">MORE</button>
  </div>

  <button class="border-0 rounded mx-auto d-block bg-light" (click)="isShowOfCreateClothes = true">Add clothes</button>
  <app-create-clothes [show]="isShowOfCreateClothes" (closed)="isShowOfCreateClothes = false"></app-create-clothes>
</section>
