<div class=" bg-light p-3 m-3" style="border-radius:8px; " >
<div class="components-look" style="height: 300px" >

</div>
<div class="name-look">
NICE outfit
</div>
<div class="by-user">
by user
</div>




<div class="Liks d-flex justify-content-between" >

  <label class="check" >
    <input class="check-input " type="checkbox"  >
    <span class="check-box"></span>
    11
  </label>
  <button>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
      <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
    </svg>
  </button>

</div>
</div>
