
<nav class="  navbar  navbar-expand-sm navbar-light bg-light  "style="border-radius:10px ;"  >
  <div class="collapse navbar-collapse  " id="navbarContent">
    <ul class="navbar-nav   mx-auto d-flex flex-column bd-highlight    " >

      <!-- <img class="logo mx-auto m-1 " style="width: 12rem;  height: 9rem;" src="assets/img/logoClother.png"  > -->

      <h3 href="" class="nav-link">All CATEGORIES</h3>



      <label class=" form-check   " >
        <input class="form-check-input nav-link" type="checkbox" value="" >
        BAGS
      </label>


      <label class=" form-check " >
        <input class="form-check-input nav-link " type="checkbox" value="" >
        DRESSES
      </label>

      <label class=" form-check   " >
        <input class="form-check-input nav-link" type="checkbox" value="" >
        SHOES
      </label>


      <label class=" form-check " >
        <input class="form-check-input nav-link " type="checkbox" value="" >
        CAPS
      </label>

      <label class=" form-check   " >
        <input class="form-check-input nav-link" type="checkbox" value="" >
        COATS
      </label>


      <label class=" form-check " >
        <input class="form-check-input nav-link " type="checkbox" value="" >
        PANTS
      </label>
      <label class=" form-check   " >
        <input class="form-check-input nav-link" type="checkbox" value="" >
        SHORTS
      </label>


      <label class=" form-check " >
        <input class="form-check-input nav-link " type="checkbox" value="" >
        SKIRTS
      </label>

      <label class=" form-check   " >
        <input class="form-check-input nav-link" type="checkbox" value="" >
        T-SHOTRTS
      </label>


      <label class=" form-check " >
        <input class="form-check-input nav-link " type="checkbox" value="" >
        SWEATERS
      </label>

      <label class=" form-check " >
        <input class="form-check-input nav-link " type="checkbox" value="" >
        RAINCOARS
      </label>

    </ul>


  </div>


</nav>

