
<nav class="  navbar  navbar-expand-sm navbar-light bg-light  "style="border-radius:10px ;"  >
  <div class="collapse navbar-collapse  " id="navbarContent">
    <ul class="navbar-nav   mx-auto d-flex flex-column bd-highlight    " >

      <img class="logo mx-auto m-1 " style="width: 12rem;  height: 9rem;" src="assets/img/logoClother.png"  >

      <h3 href="" class="nav-link">All CATEGORIES</h3>


      <label class="check option " >
        <input class="check-input" type="checkbox" >
        <span class="check-box"></span>
        BAGS
      </label>

      <label class="check option " >
        <input class="check-input" type="checkbox" >
        <span class="check-box"></span>
        DRESSES
      </label>

      <label class="check option " >
        <input class="check-input" type="checkbox" >
        <span class="check-box"></span>
        SHOES
      </label>

      <label class="check option " >
        <input class="check-input" type="checkbox" >
        <span class="check-box"></span>
        CAPS
      </label>

      <label class="check option " >
        <input class="check-input" type="checkbox" >
        <span class="check-box"></span>
        COATS
      </label>


      <label class="check option " >
        <input class="check-input" type="checkbox" >
        <span class="check-box"></span>
        PANTS
      </label>
      <label class="check option " >
        <input class="check-input" type="checkbox" >
        <span class="check-box"></span>
        SHORTS
      </label>


      <label class="check option " >
        <input class="check-input" type="checkbox" >
        <span class="check-box"></span>
        SKIRTS
      </label>

      <label class="check option " >
        <input class="check-input" type="checkbox" >
        <span class="check-box"></span>
        T-SHOTRTS
      </label>


      <label class="check option " >
        <input class="check-input" type="checkbox" >
        <span class="check-box"></span>
        SWEATERS
      </label>

      <label class="check option " >
        <input class="check-input" type="checkbox" >
        <span class="check-box"></span>
        RAINCOARS
      </label>

    </ul>


  </div>


</nav>

