.logo {
    display: block;
    margin: 0 auto;
    width: 300px;
}

.container {
    display: block;
    margin: 10px auto;
    max-width: 700px;
    width: 90%;
    background-color: white;
    padding: 20px;
}