.btn-page{
  border-radius:8px ;
  background-color:#D2D2D2;
  border: 0;
  height: 50px;
  fill:#656E6E;

}
header{
  border-radius:8px;
  padding-top:50px;
  height: 150px;
  margin-bottom: 20px;
}

div{
  border-radius:10px ;
}

