<section *ngIf="show">
    <div class="center-1">
        <div class="center-2">
            <div class="center-3 popup">
                <div class=" bg-light p-3 m-3" style="border-radius:8px; ">
                    <div class="components-look">
                      <img src="{{ urlForServer }}/api/v1/clothes/{{ clothes._id }}/image" alt="">
                    </div>
                  
                    <div class="name-look">
                      {{ clothes?.name }}
                    </div>
                  
                    <div class="by-user">
                      {{ clothes?.user?.lastName }} {{ clothes?.user?.firstName }}
                    </div>
                  </div>
        
                <div class="flex-space-around">
                    <button type="button" (click)="editClothes()">Редагувати</button>
                    <button id="get-remondation-btn" type="button" (click)="getRecommendationLookList()">Луки</button>
                    <button type="button" (click)="deleteClothes()">Видалити</button>
                </div>

                <button id="close-btn" type="button" (click)="closedPopup()">Закрити</button>
            </div>
        </div>
    </div>
</section>