<section class="">
  <div class="Clother bg-light mt-4">

      <h1 class="username ml-3">User name</h1>

    <hr class=co size="6" >
    <div class="d-flex flex-row ">
    <div class="user-photo d-flex flex-column ml-3">
      <svg xmlns="http://www.w3.org/2000/svg" width="145" height="170"  class="bi bi-person-fill" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
      <button class="btn-upload"> Upload Photo </button>
    </div>
    <div class="mt-2">
      <p>Gender:Male</p>
      <p>Age:20, 22.20.2020 </p>
      <p>Eye color:Blue </p>
      <p>City:Ukraine,Ivano-Frankivsk</p>
      <p>Abaut me: I love Nike... </p>
    </div>
  </div>
    <div class="edit  ">
    <button class="border-0 rounded-pill btn-e ">Edit profile</button>
    </div>
  </div>

    <div class="d-flex justify-content-between mt-2 " >
      <h1 class="  text-light">My looks</h1>
      <button class="border-0 rounded btn-f" >Filyters </button>
    </div>
    <hr size="6" >

    <app-lookbook  ></app-lookbook>
  <div class="d-flex justify-content-evenly">
    <button class="btn border-0 rounded mx-auto d-block bg-light"> Create look </button>
    <button class="btn border-0 rounded mx-auto d-block bg-light" > More </button>

  </div>
</section>

