/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
  font-family: 'Truculenta', sans-serif;
}


form {
    input {
        width: calc(100% - 26px);
        padding: 13px 13px;
        margin: 15px 0px;
        border: 1px solid black;
    }

    button {
        margin-top: 30px;
        width: 100%;
        font-size: 20px;
        padding: 13px;
        background-color: white;
        color: black;
        border: 1px solid black;
    }
}

hr{
  background-color:#fff;
  opacity: 1;
  border-radius: 3px;
}


.full-screen {
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    padding: 1px;
}

.background-gradient {
    background:#AAAAAA;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 300px;
}

.container {
    display: block;
    margin: 10px auto;
    max-width: 700px;
    width: calc(90% - 40px);
    background-color: white;
    padding: 20px;
}
.btn {
  color: #656E6E;
  font-size: 28px;
  width: 200px;
  height: 50px;
}
.btn-f{
  color: #656E6E;
  margin: 5px;
  font-size: 25px;
}
