/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
  font-family: 'Truculenta', sans-serif;
}


form {
    input {
        width: calc(100% - 26px);
        padding: 13px 13px;
        margin: 15px 0px;
        border: 1px solid black;
    }

    button {
        margin-top: 30px;
        width: 100%;
        font-size: 20px;
        padding: 13px;
        background-color: white;
        color: black;
        border: 1px solid black;
    }
}

hr{
  background-color:#fff;
  opacity: 1;
  border-radius: 3px;
}


.full-screen {
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    padding: 1px;
}

.background-gradient {
    background: linear-gradient(0.25turn, #677BF8, #368060);
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 300px;
}

.container {
    display: block;
    margin: 10px auto;
    max-width: 700px;
    width: calc(90% - 40px);
    background-color: white;
    padding: 20px;
}

.center-1 {
    position: relative;
    height: 100%;

    .center-2 {
        display: flex;
        height: 100%;
        align-items: center;

        .center-3 {
            margin: 0 auto;
            width: 90%;
        }
    }
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}
